{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
    <div class="flexslider">
        <ul class="slides">
            {% for href, caption, image in [
                    ['/cv', 'My résumé or curriculum vitae', '/static/images/slide_joe_vista.jpg'|url ],
                    ['/of-interest', 'Useful things of interest',  '/static/images/slide_joe_kayak.jpg'|url ],
                    ['/research', 'My research interests', '/static/images/slide-image-3.jpg'|url ],
                    ] %}
                    <li{% if this.is_child_of(href) %} class="active"{% endif %}>
                    <a href="{{ href|url }}">
                            <img src="{{ image }}"/>
                        </a>
                        <div onclick="location.href='{{ href|url }}';" class="flex-caption">
                            <h3 class="flex-caption-text">{{ caption }}</h3>
                        </div>
                    </li>
                {% endfor %}
        </ul>
    </div>
    <div class="home">
        <h2 class="page-title">{{ this.title }}</h2>
        {{ this.body }}
    </div>
{% endblock %}