<!doctype html>
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="https://jhkennedy.org/sites/default/files/signature_favico.ico" />
    <link rel="stylesheet" href="{{ '/static/css/reset.css'|url }}">
    <link rel="stylesheet" href="{{ '/static/css/flexslider.css'|url }}">
    <link rel="stylesheet" href="{{ '/static/css/style.css'|url }}">
    <link rel="stylesheet" href="{{ '/static/css/colors.css'|url }}">
    <link rel="stylesheet" href="{{ '/static/css/custom.css'|url }}">
    <script  src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <script src="{{ '/static/js/jquery.flexslider-min.js'|url }}"></script>
    <script src="{{ '/static/js/custom.js'|url }}"></script>
    <script type="text/javascript" charset="utf-8">
      $(window).on('load', function() {
        $('.flexslider').flexslider();
      });
    </script>
    <title>{% block title %}Welcome{% endblock %} | jhkennedy.org</title>
</head>
<body class="container">
    <header>
        <div class="name">
            <h1>Joseph H Kennedy</h1>
        </div>
        <div class="socialbar">
            <ul class="social">
                <li><a href="https://www.mendeley.com/profiles/joseph-h-kennedy/" target="_blank">
                    <img src="{{ '/static/images/mendeley.png'|url }}">
                </a></li>
                <li><a href="http://scholar.google.com/citations?user=chPMeM4AAAAJ" target="_blank">
                    <img src="{{ '/static/images/google_scholar.png'|url }}">
                </a></li>
                <li><a href="https://www.linkedin.com/in/jhkennedy" target="_blank">
                    <img src="{{ '/static/images/in.png'|url }}">
                </a></li>
                <li><a href="https://twitter.com/aJollyAdventure" target="_blank">
                    <img src="{{ '/static/images/twitter.png'|url }}">
                </a></li>
            </ul>
        </div>
        <nav>
            <ul class="navbar-nav">
                <li{% if this._path == '/' %} class="active"{% endif %}><a href="{{ '/'|url }}">Home</a></li>
                {% for href, title in [
                    ['/research', 'Research'],
                    ['/software', 'Software'],
                    ['/cv', 'Résumé/C.V.'],
                    ['/of-interest', 'Of interest']
                    ] %}
                    <li{% if this.is_child_of(href) %} class="active"{% endif %}><a href="{{ href|url }}">{{ title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    <main>
        <div class="page">
            {% block body %}{% endblock %}
        </div>
    </main>
    <footer>
        &copy; Copyright 2018, Joseph H. Kennedy.
    </footer>
</body>
